<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_site_navbar"></nav>

<div class="container" id="brand">
    <div class="row">
        <!-- Brand form -->
        <form class="form-inline w-100" id="brand-form"  autocomplete="off">
            <div class="col-12">
                <div class="row">
                    <div class="col-2">
                        <label for="inputBrand" class="control-label">Brand</label>
                    </div>
                    <div class="col-2">
                        <label for="inputCategory" class="control-label">Category</label>
                    </div>
                </div>
            </div>
            <div class="col-12" style="margin-top: 5px">
                <div class="row">
                    <div class="col-2">
                        <div class="form-group">
                            <input type="text" class="form-control" name="brand" id="inputBrand" placeholder="Enter Brand" style="width:90%">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <input type="text" class="form-control" name="category" id="inputCategory" placeholder="Enter Category" style="width:90%">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <button type="button" class="btn btn-outline-info" id="search-brand">Search</button>
                            &nbsp;&nbsp;
                            <button type="button" class="btn btn-outline-primary" id="show-add-brand-modal">Add</button>
                            &nbsp;&nbsp;
                            <button type="button" class="btn btn-outline-success" id="upload-brand-data">Upload</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <!-- Blank Row -->
    <div class="row">
        &nbsp;
    </div>
    <div class="row">

        <!-- Table -->
        <div class="col-12">
            <table class="table table-striped" id="brand-table">
                <thead>
                <tr>
                    <th scope="col">Brand</th>
                    <th scope="col">Category</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
    <!-- Blank Row -->
    <div class="row">
        &nbsp;
    </div>
    <!-- Blank Row -->
    <div class="row">
        &nbsp;
    </div>

    <!-- Add Brand Modal -->
    <div
            class="modal fade" tabindex="-1" role="dialog" id="add-brand-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Brand</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Brand add form  -->
                <form  id="brand-add-form" onsubmit="return addBrand()"  autocomplete="off">
                    <div class="modal-body">


                        <div class="form-group row">
                            <label for="inputBrand" class="col-sm-2 col-form-label">Brand</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="brand" placeholder="Enter Brand" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputCategory" class="col-sm-2 col-form-label">Category</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="category" placeholder="Enter Category" required>
                            </div>
                        </div>
                        <!-- Hidden id -->
                        <input type="hidden" name="id" >

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" id="add-brand">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Edit Brand Modal -->
    <div
            class="modal fade" tabindex="-1" role="dialog" id="edit-brand-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Brand</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Brand edit form  -->
                <form  id="brand-edit-form" onsubmit="return updateBrand()"  autocomplete="off">
                    <div class="modal-body">


                        <div class="form-group row">
                            <label for="inputBrand" class="col-sm-2 col-form-label">Brand</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="brand" placeholder="Enter Brand" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputCategory" class="col-sm-2 col-form-label">Category</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="category" placeholder="Enter Category" required>
                            </div>
                        </div>
                        <!-- Hidden id -->
                        <input type="hidden" name="id" >

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" id="update-brand">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Upload Brand Model -->
    <div class="modal fade" tabindex="-1" role="dialog" id="upload-brand-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Upload Brand</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body" style="margin:2px;">
                    <div class="brand-file">
                        <input type="file" class="custom-file-input" id="brandFile">
                        <label class="custom-file-label" for="brandFile" id="brandFileName">Choose file</label>
                    </div>
                    <a th:href="@{/sample/brand.tsv}" target="_blank">Download Sample</a>
                    <br>
                    <!-- file rows data progress -->
                    Rows: <span id="rowCountBrand">0</span>,
                    Processed: <span id="processCountBrand">0</span>,
                    Errors: <span id="errorCountBrand">0</span>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="process-data-brand">Upload</button>
                    <button type="button" class="btn btn-warning" id="download-errors-brand">Download Errors</button>
                </div>
            </div>
        </div>
    </div>

</div>


<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/brand.js}"/></script>

</body>

</html>